.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.profile {
  position: relative;
  width: 300px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.5);
}
.state {
  position: absolute;
  top: 10%;
  right: 18%;
  font-size: 16px;
  font-weight: 600;
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  text-transform: uppercase;
}
